#s-4407ab10-df07-4669-a81d-ddd196d49ae6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4407ab10-df07-4669-a81d-ddd196d49ae6 #s-Line_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-4407ab10-df07-4669-a81d-ddd196d49ae6 #s-Line_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4407ab10-df07-4669-a81d-ddd196d49ae6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}